nav{
	color: #050a4d;    
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	padding: 25px;
	margin: 15px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-left: 10px;
}

.button {
    background-color: #FBFBF9;
    padding: 9px 20px;
	border: solid 1.5px;  
    border-radius: 50px;
	transition-duration: 0.4s;
	-webkit-transition:  0.3s;
}

.button:hover {
	color: #FBFBF9;
    background-color: #050a4d;
	border: solid #FBFBF9 1.5px;
	padding: 9px 20px;
	transition-duration: 0.3s;
	-webkit-transition: all 0.3s;
}

header{
	background-color: #050a4d;
	padding: 0px;
	margin: 0px;
	height: 10vh;
}

.left-header{
	padding:0%;
	line-height: 10px;
	font-weight: 215;
	font-size: 16px;
}

body{
	background-color: #FBFBF9;
	color: black;
	font-family: DM Sans, Inter;
	font-size: 16px;
}

article{
	padding: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

#intro-quote{
	font-size: 16px;
	font-style: italic;
	text-align: center;
	font-weight: 225;
	margin-top: 15px;
	margin-bottom: 110px;
}

h1{
	font-family: DM Serif Display;
	text-transform: uppercase;
	letter-spacing: 25px;
	color: #080068;
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
}

h2{
	font-family: DM Serif Display;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #080068;
	font-size: 18px;
	font-weight: 550;
	position: sticky;
	width: 100%;
	top: 50px;
	-webkit-text-stroke: 11px #FBFBF9;
}

.h2-stroke {
	paint-order: stroke fill;
 }

hr{
	background-color:#3F5CAC;
	height: 2px;
	margin-bottom: 20px;
  }

p{
	font-size: 16px;
	padding-left: 50%;
	line-height: 25px;
	font-weight: 220;
	margin-bottom: 15px;
}

blockquote{
	font-size: 16px;
	font-style: italic;
	padding-left: 52%;
	line-height: 25px;
	font-weight: 200;
	margin-bottom: 15px;
}

footer{
	color: #FBFBF9;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	padding: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

.footer-button {
    background-color: #050a4d;   
    padding: 9px 20px;  
	border: solid 1.5px;  
    border-radius: 50px;  
	transition-duration: 0.3s;  
	-webkit-transition: all 0.3s;
}

.footer-button:hover {
	color: #050a4d;
    background-color: #FBFBF9;
	border: solid #050a4d 1.5px;
	padding: 9px 20px;
	transition-duration: 0.3s;
	-webkit-transition: all 0.3s;
}

section{
	margin-bottom: 50px;
}

strong{
	font-weight: 400;
}

em{
	font-style: italic;
	color: #3F5CAC;
	font-weight: 400;
}

mark{
	background-color: #3F5CAC;
	color: white;
	transition-duration: 0.3s;
	-webkit-transition: all 0.3s;
}

mark:hover{
	background-color:#bced09;
	color: #050a4d;
	transition-duration: 0.3s;
	-webkit-transition: all 0.3s;
}

div{
	margin: 1% 10% 1%;
}