nav{
	color: #FBFBF9;
	font-size: 14px;
	font-weight: 200;
	text-align: right;
	text-decoration: underline;	
	padding: 15px;
	margin-left: 50px;
	margin-right: 50px;
}

nav ul {
    list-style-type: none; 
}

header{
	background-color: #050a4d;
	padding: 0px;
	margin: 0px;
	height: 10vh;
}

.left-header{
	padding:0%;
	line-height: 10px;
	font-weight: 255;
}

body{
	background-color: #FBFBF9;
	color: black;
	font-family: DM Sans, Inter;
	font-size: 16px;
}

article{
	padding: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

#intro-quote{
	font-style: italic;
	text-align: center;
	font-weight: 225;
	margin-top: 20px;
	margin-bottom: 65px;
}

h1{
	font-family: DM Serif Display;
	text-transform: uppercase;
	letter-spacing: 25px;
	color: #080068;
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
}

hr{
	background-color:#3F5CAC;
	height: 2px;
	margin-bottom: 20px;
  }

h2{
	font-family: DM Serif Display;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #080068;
	font-size: 18px;
	font-weight: 550;;
}

p{
	font-size: 16px;
	padding-left: 50%;
	line-height: 25px;
	font-weight: 225;
	margin-bottom: 15px;
}

blockquote{
	font-size: 14px;
	font-style: italic;
	padding-left: 52%;
	line-height: 25px;
	font-weight: 200;
	margin-bottom: 15px;
}

footer{
	color: #080068;
	font-size: 14px;
	font-weight: 200;
	text-align: right;
	text-decoration: underline;
	padding: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

section{
	margin-bottom: 50px;
}

strong{
	font-weight: 400;
}

em{
	font-style: italic;
}

